<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/UIStyles.css">
</head>
<body>
    <div class="Buttons">
    <img class="image" src="images/axiomio.jpg">
    <div id="notificationBar"></div>
    <br><br>
    <div class="dropDown">
    <select id="actionDropdown"
            onfocus="disableButtons()"
            onblur="enableButtons()"
            onchange="handleDropdownChange()"
            title="Please select an option to run your desired action">
      <option disabled selected>Select Action</option>
      <option value="invoice">Invoice</option>
      <option value="scan">Scanned</option>
      <option value="OCR-Enabled">OCR-Enabled</option>
      <option value="Performance">Performance</option>
      <option value="Security Audit">Security Audit</option>
      <option value="others">Others</option>
    </select>
   </div>

   <div id="invoiceSection">
   <form id="uploadForm"  enctype="multipart/form-data">
  <input type="file" id="file" name="jsonFile"  style="display:none;" />
  <!--<button type="button" onclick="document.getElementById('file').click()">Upload JSON File</button>-->
</form>
<br><br><br>
    <!--<form action="./view">
    <button type="submit">View File</button>
    </form><br><br><br>-->
    <form action="./generate-pdf">
    <button id="generate-btn" type="submit" disabled>Generate pdf</button>
    </form>
    <br><br><br>
    <form action="./download-pdf">
    <button id="download-btn" type="submit" disabled>Download Pdf</button>
    </form>
    </div>

    <div id="scanSection" style="display: none;">
  <p>🔍 Scan feature will be implemented here...</p>
   </div>
    </div>
    <script src="/javascripts/script.js"></script>
</body>
</html>
</html>